:root{

    --primary-color: #636e72;
    --secondary-color: #002147;
    --text-color: #ffffff;

}
@font-face {
    font-family: "liberetinus";
    src: url(./LibertinusSerifDisplay-Regular.ttf);
}

footer {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 1rem;
    text-align: center;
    font-family: "liberetinus";
    margin-left: -8px;
    margin-right: -8px;
    border-radius: 50px 0px 0px 0px;
    font-size: 1.1rem;
}

footer h2 {
    text-align: left;
    margin: 0 0 1rem;
    padding-left: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
    padding-left: 20px;
}

footer li {
    text-align: left;
    margin: 0.5rem 0;
    padding-left: 20px 20px;
}

.copyright {
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
    font-size: 0.9rem;
    background-color: var(--primary-color);
    
}

.container {
  display: flex; /* Makes the container a flex container */
  justify-content: space-around; /* Distributes space around items */
  align-items: flex-start; /* Aligns items to the start of the cross-axis */
  gap: 20px; /* Adds space between the sections */
}

.left-section,
.right-section {
  flex: 1; /* Allows sections to grow and shrink to fill available space */
  padding: 20px;
  border: 1px solid #ccc;
}

.email-link {
    color: orange;
    text-decoration: none;
}
.hatdog {
    text-align: center;
}